body {
    margin: 0;
    background-color: brown;
    font-family: "Smythe", system-ui;
} 

.main-container{
    width: 600px;
    height: 1161px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 50px;
}

header{
    height: 167px;
    background-image: url(images/header-bg-img.png);
    background-size: cover;
    box-sizing: border-box;
    padding: 10px 0 30px 50px;
    color: white;
}

header p{
    font-size: 23px;
    line-height: 13.8px;
}

h1{
    font-size: 39px;
    line-height: 24px;
    font-weight: normal;
}

.menu-items{
    width: 508px;
    height: 140px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.image-and-desc{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-items-description{
    display: flex;
    flex-direction: column;
}

.menu-items-description > h2{
    font-size: 28px;
    font-weight: normal;
    line-height: 16px;
}

.add-btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.emoji{
    width: 70px;
    height: 89px;
    font-size: 79px;
}

.grey-text{
    color: #8B8B8B;
    font-size: 16px;
}

.order{
    display: none;
   
}
.order-details{
    display: flex;
    flex-direction: column;
}
.showOnPage{
    display: flex;
     width: 508px;
    height: 319px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.order-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-items p {
    margin: 0;
}

.remove-item{
    display: flex;
    gap: 10px;
    align-items: center;
}

.remove{
    color: #BBBBBB;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
}
.total-order{
    border-top: 2px solid #393333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 30px 0;
}

.total-order p{
    margin: 0;
}

.complete-order{
    color: white;
    background-color: #16DB99;
    border-radius: 3px;
    height: 60px;
    border: none;
    cursor: pointer;
}

.big-text{
    font-size: 28px;
}

.card-details-modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    bottom: 50%;
    right: 0;
    margin: auto;
    width: 524px;
    height: 543px;
    background-color: white;
    border-radius: 4px;
    padding: 45px 25px 30px 25px;
    margin: auto;
    text-align: center;
}
.card-details h2{
    font-size: 24px;
    font-weight: bold;
}
input{
    height: 70px;
    border: 1px solid #757575;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    color: #757575;
    font-size: 20px;
}
.pay-btn{
    width: 100%;
    /* display: block; */
    background-color: #16DB99;
    width: 475px;
    height: 71px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.thanks{
    display: none;
    width: 504px;
    height: 120px;
    border-radius: 3px;
    margin: auto;
    background-color: #ECFDF5;
    color: #065F46;
    justify-content: center;
    align-items: center;
}